body {
    background-color: rgb(243, 243, 230);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.description {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
}

.ingredients-li, .steps-li {
    margin-left: auto;
    margin-right: auto;
}

.ingredients-li {
    width: 15em;
}

.steps-li {
    width: 27em;
}

.footer, .originalrecipe {
    color: brown;
    font-weight: bold;
}